[galera]
name = Galera
baseurl = http://releases.galeracluster.com/{{ galera_version }}/centos/{{ hostvars[inventory_hostname].ansible_distribution_major_version }}/x86_64/
gpgkey = http://releases.galeracluster.com/GPG-KEY-galeracluster.com
gpgcheck = 1
[mysql-wsrep]
name = MySQL-wsrep
baseurl =  http://releases.galeracluster.com/{{ wsrep_version }}/centos/7/x86_64/
gpgkey = http://releases.galeracluster.com/GPG-KEY-galeracluster.com
gpgcheck = 1